{{#if config.newStyle}}
<section class="status">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-cube"></i>
          </div>
          <div class="number">
            <h3>{{t "home.blockheight"}}</h3>
            <div>
              <span>#{{format-number stats.height}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-hourglass-half"></i>
          </div>
          <div class="number">
            <h3>{{t "home.blocktime"}}</h3>
            <div>
              <span>{{format-number stats.blockTime}} s</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-tachometer"></i>
          </div>
          <div class="number">
            <h3>{{t "home.network_hashrate"}}</h3>
            <div>
              <span>{{format-hashrate stats.hashrate}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-puzzle-piece"></i>
          </div>
          <div class="number">
            <h3>{{t "home.difficulty"}}</h3>
            <div>
              <span>{{with-metric-prefix stats.difficulty}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <div class="number">
            <h3>{{t "home.miners"}}</h3>
            <div>
              <span>{{format-number stats.model.minersTotal}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-clock-o"></i>
          </div>
          <div class="number">
            <h3>{{t "home.lastfound"}}</h3>
            <div>
              {{#if stats.lastBlockFound}}
              <span>{{seconds-to-rel stats.lastBlockFound}}</span>
              {{else}}
              <span>{{t "home.no_block_found"}}</span>
              {{/if}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-tachometer"></i>
          </div>
          <div class="number">
            <h3>{{t "home.pool_hashrate"}}</h3>
            <div>
              <span>{{format-hashrate stats.model.hashrate}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-percent"></i>
          </div>
          <div class="number">
            <h3>{{t "home.round_luck"}}</h3>
            <div>
              <span>{{format-number stats.roundVariance style='percent'}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-cubes"></i>
          </div>
          <div class="number">
            <h3>{{t "account.blocks.found"}}</h3>
            <div>
              <span>{{format-number model.maturedTotal fallback='0'}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-cloud"></i>
          </div>
          <div class="number">
            <h3>{{t "block.immature_blocks"}}</h3>
            <div>
              <span>{{format-number model.immatureTotal fallback='0'}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-cloud-upload"></i>
          </div>
          <div class="number">
            <h3>{{t "block.new"}}</h3>
            <div>
              <span>{{format-number model.candidatesTotal fallback='0'}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-percent"></i>
          </div>
          <div class="number">
            <h3>{{t "block.recent_pool_luck"}}</h3>
            <div>
              <span>{{format-number recentPoolLuck style='percent'}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{{else}}
<div class="jumbotron">
  <div class="container">
    <p class="lead">{{t "block.pool_rewards"}}</p>
    <span>
    {{t "block.pool_notice.html" success=BlockUnlockDepth htmlSafe=true}}
    </span>
  </div>
</div>
{{/if}}
<div class="container">
  {{high-charts mode=stockChart chartOptions=chartOptions content=chartData}}
  {{#if model.luck}}
    {{partial "luck"}}
  {{/if}}
  <ul class="nav nav-tabs">
    {{#active-li currentWhen='blocks.index' role='presentation'}}
      {{#link-to 'blocks.index'}}{{t "block.blocks"}} <span class="badge alert-success">{{format-number model.maturedTotal}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='blocks.immature' role='presentation'}}
      {{#link-to 'blocks.immature'}}{{t "block.immature"}} <span class="badge alert-success">{{format-number model.immatureTotal}}</span>{{/link-to}}
    {{/active-li}}
    {{#active-li currentWhen='blocks.pending' role='presentation'}}
      {{#link-to 'blocks.pending'}}{{t "block.new"}} <span class="badge alert-info">{{format-number model.candidatesTotal}}</span>{{/link-to}}
    {{/active-li}}
  </ul>
  {{outlet}}
</div>
