<div class="tab-info">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
      <a href="#claymore" class="nav-link" role="tab" data-toggle="tab" aria-expanded="false">Claymore</a>
    </li>
    <li class="nav-item">
      <a href="#ethminer" class="nav-link" role="tab" data-toggle="tab" aria-expanded="false">EthMiner</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade" id="ethminer">
      <div>
        <h3>EthMiner (AMD/NVidia)</h3>
        <p>Download the latest version of the ethminer from <a href="https://github.com/ethereum-mining/ethminer/releases">EthMiner github releases page.</a></p>
        <h4>ethminer version &gt;= v0.14.0</h4>
        <p>
          <pre><code>ethminer <em>-U</em> -P <em>stratum1+tcp</em>://<em class="wallet">0x0000000000000000000000000000000000000000</em>.<em>your-worker-1</em>@<em>{{config.StratumHost}}</em>:<em>{{config.StratumPort}}</em> <em>--farm-recheck 2000</em></code></pre>
        </p>
        <h4>ethminer version &lt; v0.14.0</h4>
        <p>
          <pre><code>ethminer <em>-U</em> -F <em>{{config.HttpHost}}</em>:<em>{{config.HttpPort}}</em>/<em class="wallet">0x0000000000000000000000000000000000000000</em>/<em>your-worker-1</em> <em>--farm-recheck 200</em></code></pre>
        </p>
        <p><span class="label label-info">Hint</span> use <code><em>-U</em></code> option for NVIDIA GPU, <code><em>-G</em></code> option for AMD GPU.</p>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade active in" id="claymore">
      <div>
        <h3>Claymore Dual Miner (AMD/NVidia)</h3>
        <p>Download the latest claymore from <a href="https://bitcointalk.org/index.php?topic=1433925.0">BitcoinTalk claymore thread.</a>
        </p>
        <p>
          <pre><code><em>EthDcrMiner64</em> -epool <em>{{config.StratumHost}}</em>:<em>{{config.StratumPort}}</em> <em>-esm 0</em> -ewal <em class="wallet">0x0000000000000000000000000000000000000000</em> -eworker <em>your-worker-1</em> -allcoins 1 -allpools 1</code></pre>
        </p>
        <p><span class="label label-info">Hint</span> use <code><em>./ethdcrminer64</em></code> under Linux/ubuntu<br />
        </p>
      </div>
    </div>
  </div>
</div>
