<div class="tab-info">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
      <a href="#claymore" class="nav-link" role="tab" data-toggle="tab" aria-expanded="false">Claymore</a>
    </li>
    <li class="nav-item">
      <a href="#ethminer" class="nav-link" role="tab" data-toggle="tab" aria-expanded="false">EthMiner</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade" id="ethminer">
      <div>
        <h3>EthMiner (AMD/NVidia)</h3>
        <p>최신 버전을 다음 사이트에서 다운로드 합니다. <a href="https://github.com/ethereum-mining/ethminer/releases">EthMiner 깃허브 릴리스 페이지.</a></p>
        <h4>ethminer 버전 v0.14.0 이상</h4>
        <p>
          <pre><code>ethminer <em>-U</em> -P <em>stratum1+tcp</em>://<em class="wallet">0x0000000000000000000000000000000000000000</em>.<em>your-worker-1</em>@<em>{{config.StratumHost}}</em>:<em>{{config.StratumPort}}</em> <em>--farm-recheck 2000</em></code></pre>
        </p>
        <h4>ethminer 버전 v0.14.0 미만</h4>
        <p>
          <pre><code>ethminer <em>-U</em> -F <em>{{config.HttpHost}}</em>:<em>{{config.HttpPort}}</em>/<em class="wallet">0x0000000000000000000000000000000000000000</em>/<em>your-worker-1</em> <em>--farm-recheck 200</em></code></pre>
        </p>
        <p><span class="label label-info">Hint</span> <code><em>-U</em></code> 옵션은 NVIDIA GPU 사용, <code><em>-G</em></code> 옵션은 AMD GPU 사용</p>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade active in" id="claymore">
      <div>
        <h3>Claymore 듀얼 마이너 (AMD/NVidia)</h3>
        <p>최신 클레이모어를 다음 사이트에서 다운로드 합니다. <a href="https://bitcointalk.org/index.php?topic=1433925.0">비트코인토크 클레이모어 글타래.</a>
        </p>
        <p>
          <pre><code><em>EthDcrMiner64</em> -epool <em>{{config.StratumHost}}</em>:<em>{{config.StratumPort}}</em> <em>-esm 0</em> -ewal <em class="wallet">0x0000000000000000000000000000000000000000</em> -eworker <em>your-worker-1</em> -allcoins 1 -allpools 1</code></pre>
        </p>
        <p><span class="label label-info">Hint</span> 리눅스/우분투의 경우 <code><em>./ethdcrminer64</em></code> 명령 사용<br />
        </p>
      </div>
    </div>
  </div>
</div>
